body {
  background: #dcd6f7;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  font-weight: 800px;
  font-size: 36px;
  line-height: 1.5;
  color: #363b4e;
}
#container {
  background: #c4bbf0;
  margin: 120px auto;
  max-width: 600px;
  padding: 50px 50px 500px 50px;
  border-radius: 10px;
  text-align: center;
}

#searchBar {
  border-radius: 10px;
  border-color: #424874;
  border: 3px solid;
  box-shadow: none;
  color: #424874;
  width: 10cm;
  background: #f4eeff;
  margin: 20px 10px 20px 10px;
  padding: 10px;
}
#Submit {
  border-radius: 10px;
  background-color: #f4eeff;
  border: none;
  box-shadow: none;
  color: #f4eeff;
  padding: 10px;
  margin: 10px 0px 10px 0px;
  background: #424874;
}

#RecipeName {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 50px 50px 10px 50px;
  padding: 20px;
  background: #dcd6f7;
  line-height: 1.5;
  border-left: 3px solid #424874;
}

.RecipeIngridients {
  text-align: left;
  font-size: 16px;
  white-space: pre-line;
  margin: 0px 50px 10px 50px;
  padding-left: 20px;
  background: #dcd6f7;
  line-height: 1.5;
  border-left: 3px solid #424874;
}
#RecipeIngridients ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
}
#RecipeIngridients li {
  margin-bottom: 5px;
}

.RecipeInstructions {
  text-align: left;
  font-size: 16px;
  white-space: pre-line;
  line-height: 1.5;
  margin: 0px 50px 20px 50px;
  padding-left: 20px;
  background: #dcd6f7;
  border-left: 3px solid #424874;
}
#RecipeInstructions ol {
  list-style-type: decimal;
  padding-left: 20px;
  margin: 0;
}

#RecipeInstructions li {
  margin-bottom: 8px;
}

footer {
  color: black;
  text-align: center;
}
a {
  color: #363b4e;
  text-decoration: none;
}
